# Starbucks Capstone Challenge
Notebook 3 of 4

### Promotions and Transactions
Now we must transform our transcript.json file to make the data into a format that reflects whether the customer's purchases were influenced by a given promotion or not. This is a non-trivial exercise due to the original format of our data.

In [1]:
import pandas as pd
import numpy as np
import math
from IPython.display import display, HTML

prefix = 'segmentation_data'

def import_csvs(prefix, filename):
    df = pd.read_csv(prefix + filename)
    df.index = df['id']
    df = df.drop(columns ='id')    
    return df
    
customers = import_csvs(prefix,'/customers.csv')

print("customers: {} rows and {} columns".format(customers.shape[0],customers.shape[1]))

customers: 14288 rows and 6 columns

In [2]:
import json

prefix = 'raw_data'

# read in the json files
portfolio = pd.read_json(prefix + '/portfolio.json', orient='records', lines=True)
transcript = pd.read_json(prefix + '/transcript.json', orient='records', lines=True)

# Assumptions
In order to proceed with our analysis, we will need to make several assumptions. 
- Since customers can unknowingly complete a promotion, we will not use completion of the promotion in our analysis. Instead, we will consider the act of viewing the promotion as the influencer to the customer's spending. In this manner, we will count of the views of different promotions during the period and compare this with overall spending for each customer. 
- We will not attempt to consider the time periods and whether purchases were made towards a specific offer. We will also not consider the time between receiving an offer, viewing it, and completing it.

In [3]:
print(transcript.event.unique())

['offer received' 'offer viewed' 'transaction' 'offer completed']

In [4]:
offer_views = transcript[transcript['event']=='offer viewed']
print('Transcript has {} rows.\nWe will only use the {} rows for offer receipts'.format(transcript.shape[0],offer_views.shape[0]))
display(HTML(offer_views.iloc[0:5].to_html()))

Transcript has 306534 rows.
We will only use the 57725 rows for offer receipts

In [5]:
#extract promotion id from value
offer_views = offer_views.reset_index()
offer_views = pd.concat([offer_views, pd.DataFrame((d for idx, d in offer_views['value'].iteritems()))], axis=1)
offer_views['id'] = offer_views['person']
offer_views.index = offer_views['id'] #set index equal to customer_id to match customers data
offer_views = offer_views.loc[:, ['offer id']]
display(HTML(offer_views.iloc[0:5].to_html()))
print(offer_views.shape)

(57725, 1)

Now we can reference the promotions to get the actual promotion.

In [6]:
display(HTML(portfolio.to_html()))

In [7]:
promotions = portfolio.drop(columns = ['channels','difficulty','duration','offer_type','reward'])
promotions = promotions.reset_index(inplace = False)
promotions = promotions.rename(columns={'index': 'offer code', 'id':'offer id'})
display(HTML(promotions.to_html()))

In [8]:
offer_views['id'] = offer_views.index
offer_views = offer_views.merge(promotions, how='left', left_on='offer id', right_on='offer id')
offer_views.index = offer_views['id']
offer_views = offer_views.drop(columns = ['offer id', 'id'])
display(HTML(offer_views.iloc[0:10].to_html()))
print(offer_views.shape)

(57725, 1)

For linear regression, we cannot have categorical data such as the offer code (even though they are numbers, the order is meaningless). To address this, we will make each promotion it's own column.

In [9]:
promotion_list = np.sort(offer_views['offer code'].unique())
print(promotion_list)

[0 1 2 3 4 5 6 7 8 9]

In [10]:
for prom in promotion_list:
    offer_views[prom] = prom
    offer_views[prom] = (offer_views[prom]==offer_views['offer code']).astype(int)
offer_views = offer_views.drop(columns = 'offer code')
display(HTML(offer_views.iloc[0:10].to_html()))

In [11]:
#offer_views['id'] = offer_views.index
offer_views = offer_views.groupby(['id']).sum()

In [12]:
display(HTML(offer_views.iloc[0:1].to_html()))

Here we can see that, for this specific customer, they viewed promotions 2, 6, 7 and 8 once each.

In [13]:
print(offer_views.shape)

(16834, 10)

We can also see that *almost* every customer viewed at least 1 promotion (if you remember there are 17000 customers in the original dataset). 

Before continuing, let's cleanup our dataset so as to avoid confusion later.

In [14]:
offer_views = offer_views.rename(columns={0: 'prom_0',1: 'prom_1',2: 'prom_2',3: 'prom_3',4: 'prom_4',
                                          5: 'prom_5',6: 'prom_6',7: 'prom_7',8: 'prom_8',9: 'prom_9'})
display(HTML(offer_views.iloc[0:1].to_html()))

In [15]:
customers['cust_id'] = customers.index
offer_views['cust_id'] = offer_views.index
customers = customers.merge(offer_views, how='left')

In [16]:
customers.index = customers['cust_id']
customers = customers.drop(columns = 'cust_id')
display(HTML(customers.iloc[0:1].to_html()))

We need to address the customers which did not view any promotions as they will have NAs as values. We can simply fill them in with zeros since a 0 reflects that a customer did not view the promotion, and the absence of the customer from the offer_views dataframe implies the customer did not view any promotions.

In [17]:
customers.isnull().values.any()

True

In [18]:
customers.fillna(0, inplace=True)
customers.isnull().values.any()

False

We now have a dataframe of numerical data that is ready for linear regression!

Let's re-add an old feature, total_amount_purchased, as that will be the y value we will attempt to predict. Then we can save the data and move on to the next notebook.

In [19]:
customers['total_amount_purchased'] = customers['num purchases']*customers['amount per purchase']
customers = customers.drop(columns = ['num purchases', 'amount per purchase'])
display(HTML(customers.iloc[0:1].to_html()))

In [20]:
import os

def make_csv(df, filename, data_dir):
    '''Merges features and labels and converts them into one csv file with labels in the first column.
       :param x: Data features
       :param y: Data labels
       :param file_name: Name of csv file, ex. 'train.csv'
       :param data_dir: The directory where files will be saved
       '''
    # make data dir, if it does not exist
    if not os.path.exists(data_dir):
        os.makedirs(data_dir)

    df.to_csv(os.path.join(data_dir, filename), header=True, index=True)  
    
    # nothing is returned, but a print statement indicates that the function has run
    print('Path created: '+str(data_dir)+'/'+str(filename))

In [21]:
data_dir = 'regression_ready_data'
make_csv(customers,'customers.csv',data_dir)

Path created: regression_ready_data/customers.csv

That concludes the further processing notebook. The next notebook is promotion evaluation through linear regression.

In [22]:
display(HTML(customers.iloc[0:1].to_html()))